body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #ffffff;
}

.menu {
    width: 100%;
    position: fixed;
}

.about-text {
    padding: 0em 1.5em 0em 1.5em;
    margin: auto;
}

.resume-text {
    padding: 0em 1.5em 0em 1.5em;
    margin: auto;
}

.contact-text {
    padding-top: 60px;
}

.top-space {
    padding: 5.1em 0 0 0;
}

.top-space-work {
    padding: 6.25em 0 0 0;
}

.photo-menu {
    display: inline-block;
    position: fixed;
    background-color: #2C3740;
    width: 100%;
}

.bold-inline {
    font-family: 'Roboto Medium', sans-serif;
    font-weight="500;"
}

.bold-inline-center {
    font-family: 'Roboto Medium', sans-serif;
    font-weight="500";
    width: 100%;
    text-align: center;
}

.caption {
    
}

.work-menu {
    max-width: 20%;
    padding: .75em .3em .5em .3em;
    max-height: 5.5em;
}

.work-img {
    max-width: 70%;
    width: 100%;
    text-align: center;
}

hr {
    color: #ffffff;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    text-align: center;
    background-color: #596e7f;
    font-size: 1.8em;
    padding: .4em 0 .4em 0;
}

h2 {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    text-align: center;
    font-weight: 300;
    font-size: 1.4em;
    padding: .4em 0 .4em 0;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 100;
    line-height: 1.2em;
    margin: 1em 0 1em 0;
}

/*This sets the maximum width of the image to no more than the containing element*/
img {
    max-width: 100%;
}

.resume-title {
    font-family: 'Roboto Medium', sans-serif;
    font-weight="500";
    font-size: 0.8em;
    line-height: 1.1em;
}

.resume-subtitle {
    font-size: 0.8em;
    line-height: 1.1em;
}

.resume-desc {
    font-size: 0.8em;
    line-height: 1.1em;
    padding-bottom: 1em;
}

.resume-item li {
    font-size: 0.8em;
    line-height: 1.1em;
    list-style-type: disc;
    margin-left: 1em;
    margin-bottom: 0.2em;
}

[class*="col-"] {
    float: left;
}

.col-a {
    width: 40%;
}

.col-b {
    width: 60%;
}

.contact-box {
    margin-left: 2em;
}

.contact-title {
    margin-top: 0;
    margin-bottom: 0.1em;
}

.contact-details {
    margin-top: 0;
    margin-bottom: 1em;
}

/*Start of Nav menu*/

 /*This sets the font size and removes the default bullets from the ul list. Also sets the overall with of the ul as a percentage of the containing element*/
nav ul {
    margin: 0;
    padding: 1% 0 1% 0;
    overflow: hidden;
    width: 100%;
    font-size: 1.2em;
    
    background-color:#2C3740;
    list-style-type: none;
    margin: 0;
    padding: .15em 0em .15em 0em;
    /* Above changes were via w3schools on making horizontal navbars */
}

/*This sets the list items to display as blocks, with links within each list item floating next to each other within each block with a right margin to seperate each block*/
nav ul li {
    display: inline;
    padding: 1% 0 1% 0;
    margin: 0 0 0 0%;
}

/*Sets each a link to display as block. Sets the color of the background of blocks and text and centers text in box*/
nav ul li a {
    display:block;
    display: inline;
    
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-weight: 400;
    text-align:center;
}

a {
    display: block;
    padding: 1.8%;
    /* Above changes were via w3schools on making horizontal navbars */
}

a:link {
    color: #ffffff;
}

a:hover { 
    color: #bfaf83; 
}

a:active {
    color: #596E7F;
}

/* END nav MENU */

/* Responsive */


/* For mobile: */
@media only screen and (max-width: 767px) {

    [class*="col-"] {
        width: 100%;
    }

    .contact-box {
        margin-top: 1em;
    }

    .contact-text {
        padding-top: 1em;
    }

}


/* For tablets an above: */
@media only screen and (min-width: 768px) {

    p {
        font-size: 1.2em;
    }

    .about-text {
        max-width: 618px;
    }

    .resume-text {
        max-width: 500px;
    }

    .work-menu {
        max-height: 7em;
    }

    .top-space-work {
        padding: 7.75em 0 0 0;
    }

    .resume-title {
        font-size: 1.2em;
        line-height: 1.3em;
    }

    .resume-subtitle {
        font-size: 1.2em;
        line-height: 1.3em;
    }

    .resume-desc {
        font-size: 1.2em;
        line-height: 1.3em;
    }

    .resume-item li {
        font-size: 1.2em;
        line-height: 1.3em;
    }

}

/* For desktop: */
@media only screen and (min-width: 1024px) {

    .about-text {
        max-width: 760px;
    }

    .resume-text {
        max-width: 600px;
    }

}